[user]
	email = luc.sinet@gmail.com
	name = Luc Sinet

[core]
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended Bright'
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    side-by-side = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
